@model CursosYViajes.Models.Cursos.MatricularAlumnoCursoModel

@{
    ViewData["Title"] = "Matricular";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Matricular</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Matricular">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="IdCurso" class="form-control" type="hidden" />
            <div class="form-group">
                <label asp-for="NombreCurso" class="control-label"></label>
                <label class="control-label">@Model.NombreCurso</label>
            </div>
            <div class="form-group">
                <label asp-for="PaisCurso" class="control-label"></label>
                <label class="control-label">@Model.PaisCurso</label>
            </div>
            <div class="form-group">
                @Html.DropDownListFor(x => Model.IdAlumnoSeleccionado, new SelectList(Model.Alumnos.Select(y => new SelectListItem(y.Value, y.Key.ToString())), "Value", "Text"))
            </div>
            <div class="form-group">
                <label asp-for="FechaDeAlta" class="control-label"></label>
                <input asp-for="FechaDeAlta" class="form-control" />
                <span asp-validation-for="FechaDeAlta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Matricular" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver al listado</a>
</div>

